<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
    <link rel="stylesheet" href="./agujas.css" type="text/css">
    <link rel="icon" href="./../../assets/logoArtesanaRedondo.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Artesana Insumos</title>
</head>

<body>
  <div class="modalBox" id="modalBox">
        <div class="modal">
            <div class="button_close">
                <div class="close_modal_button" onclick="close_modal()">
                    <span class="material-symbols-outlined">
close
</span>
                </div>
            </div>
            <div class="contenido">
                <div class="img_div">
                    <img src="" alt="">
                </div>
                <div class="caracteristicas_div">
                    <h2></h2>
                    <h2 class="precio_modal"></h2>
                  <h3></h3>
                  <div class="product_amount_car">
                        <button data-action="minus" data-titulo="${item.titulo}">-</button>
                        <p>0</p>
                        <button data-action="plus" data-titulo="${item.titulo}">+</button>
                    </div>
                    <button class="btn_add_cart">Agregar al carrito</button>

                </div>
            </div>
        </div>
    </div>
    <nav-slide></nav-slide>
    
    <section class="cuerpoVista">
        <div class="portada">
            <h2>Agujas para tejer</h2>
               <b>¿Como puedo hacer mi pedido?</b> <br><br>
           1. Llena tu carrito con los productos que desees <br>
           2. Haz clic en el boton "finalizar compra" <br>
           3. Rellena los espacios con tus datos y si tienes algun comentario <br>
           4. Haz clic en el boton "finalizar pedido por WhatsApp" </p>
            </p>
        </div>
        <div class="botones" id="botones"></div>
        <div class="catalogoFlores" id="Agujas"></div>

    </section>
        <footer-costume></footer-costume>
   
</body>
<script src="./agujas.js"></script>
<script src="./../../components-js/navegador/nav-slide.js"></script>
<script src="./../../components-js/footer/footer.js"></script>
<script src="./../../components-js/search_products/search_products.js"></script>


</html>