<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../normalize.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
    <link rel="stylesheet" href="./accesorios.css" type="text/css">
    <link rel="icon" href="./../../assets/logoArtesanaRedondo.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Artesana insumos</title>
</head>

<body>
    <div class="modalBox" id="modalBox">
        <div class="modal">
            <div class="button_close">
                <div class="close_modal_button" onclick="close_modal()">
                                        <span class="material-symbols-outlined">
close
</span>
                </div>
            </div>
            <div class="contenido">
                <div class="img_div">
                    <img src="" alt="">
                </div>
                <div class="caracteristicas_div">
                    <h2>Titulo</h2>
                    <h2 class="precio_modal">Precio</h2>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt aliquam voluptatibus autem pariatur ad. Rerum quia velit, quidem ipsum animi laudantium quae eos, dolore, necessitatibus nam neque veniam aperiam!</h3>
                    <div class="product_amount_car">
                        <button data-action="minus" data-titulo="${item.titulo}">-</button>
                        <p>0</p>
                        <button data-action="plus" data-titulo="${item.titulo}">+</button>
                    </div>
                    <button class="btn_add_cart">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    
       <nav-slide></nav-slide>

    <section class="cuerpoVista">
        <div class="portada">
            <h2>Accesorios de tejido</h2>
               <b>¿Como puedo hacer mi pedido?</b> <br><br>
           1. Envia una lista de los productos que deseas al WhatsApp (pueden ser fotos) <br>
           2. Define tu metodo de pago (Pago movil, Zinli o efectivo) <br>
           3. Indica si sera retiro, delivery o envio nacional (mrw) </p>
            </p>
        </div>
    
        <div class="botones" id="botones"></div>
        <div class="catalogoFlores" id="accesorios"></div>
   
    </section>
            <footer-costume></footer-costume>

</body>
<script src="./accesorios.js"></script>
<script src="./../../components-js/navegador/nav-slide.js"></script>
<script src="./../../components-js/footer/footer.js"></script>
<script src="./../../components-js/search_products/search_products.js"></script>

</html>